<a href="https://colab.research.google.com/github/itimes-digital/Bootcamp-Analista-de-Machine-Learning-IGTI/blob/master/preparando_dataset_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np

In [29]:
from google.colab import files
uploaded = files.upload()

Saving imports-85.data to imports-85 (1).data

In [30]:
df_carros = pd.read_csv('imports-85.data', sep=',', header=None, na_values='?')

In [31]:
df_carros.head()

   0      1            2    3    4     5   ...    20     21      22  23  24       25
0   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  13495.0
1   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  16500.0
2   1    NaN  alfa-romero  gas  std   two  ...   9.0  154.0  5000.0  19  26  16500.0
3   2  164.0         audi  gas  std  four  ...  10.0  102.0  5500.0  24  30  13950.0
4   2  164.0         audi  gas  std  four  ...   8.0  115.0  5500.0  18  22  17450.0

[5 rows x 26 columns]

In [41]:
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [33]:
headers = {0:"symboling", 5:"num-of-doors", 10:"length", 15:"num-of-cylinders", 20:"compression-ratio", 
           1:"normalized-losses", 6:"body-style", 11:"width", 16:"engine-size", 21:"horsepower", 
           2:"make", 7:"drive-wheels", 12:"height", 17:"fuel-system", 22:"peak-rpm", 
           3:"fuel-type", 8:"engine-location", 13:"curb-weight", 18:"bore", 23:"city-mpg", 
           4:"aspiration", 9:"wheel-base", 14:"engine-type", 19:"stroke", 24:"highway-mpg", 25:"price"}

In [34]:
df_carros.rename(columns=headers, inplace=True)

In [42]:
df_carros.head()

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [43]:
df_carros.dtypes.eq('object').sum()

10

In [73]:
df_carros_string = df_carros.select_dtypes(include=['object']).copy()
df_carros_string.head()

          make fuel-type aspiration  ... engine-type num-of-cylinders fuel-system
0  alfa-romero       gas        std  ...        dohc             four        mpfi
1  alfa-romero       gas        std  ...        dohc             four        mpfi
2  alfa-romero       gas        std  ...        ohcv              six        mpfi
3         audi       gas        std  ...         ohc             four        mpfi
4         audi       gas        std  ...         ohc             five        mpfi

[5 rows x 10 columns]

In [74]:
df_carros_string.isnull().sum()

make                0
fuel-type           0
aspiration          0
num-of-doors        2
body-style          0
drive-wheels        0
engine-location     0
engine-type         0
num-of-cylinders    0
fuel-system         0
dtype: int64

In [75]:
df_carros_string.dropna(inplace=True)
df_carros_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              203 non-null    object
 1   fuel-type         203 non-null    object
 2   aspiration        203 non-null    object
 3   num-of-doors      203 non-null    object
 4   body-style        203 non-null    object
 5   drive-wheels      203 non-null    object
 6   engine-location   203 non-null    object
 7   engine-type       203 non-null    object
 8   num-of-cylinders  203 non-null    object
 9   fuel-system       203 non-null    object
dtypes: object(10)
memory usage: 17.4+ KB

In [76]:
df_carros_string['num-of-cylinders'].value_counts()

four      157
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num-of-cylinders, dtype: int64

In [77]:
mapeamento_classes = {'num-of-doors': {'four': 4, 'two': 2},
                      'num-of-cylinders': {'four': 4, 'six': 6, 'five': 5, 'eight': 8,
                                           'two': 2, 'twelve': 12, 'three': 3}}

In [78]:
df_carros_string.replace(mapeamento_classes, inplace=True)
df_carros_string.head()

          make fuel-type aspiration  ...  engine-type num-of-cylinders fuel-system
0  alfa-romero       gas        std  ...         dohc                4        mpfi
1  alfa-romero       gas        std  ...         dohc                4        mpfi
2  alfa-romero       gas        std  ...         ohcv                6        mpfi
3         audi       gas        std  ...          ohc                4        mpfi
4         audi       gas        std  ...          ohc                5        mpfi

[5 rows x 10 columns]

In [79]:
df_carros_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              203 non-null    object
 1   fuel-type         203 non-null    object
 2   aspiration        203 non-null    object
 3   num-of-doors      203 non-null    int64
 4   body-style        203 non-null    object
 5   drive-wheels      203 non-null    object
 6   engine-location   203 non-null    object
 7   engine-type       203 non-null    object
 8   num-of-cylinders  203 non-null    int64
 9   fuel-system       203 non-null    object
dtypes: int64(2), object(8)
memory usage: 17.4+ KB

In [80]:
df_carros_string['body-style'] = df_carros_string['body-style'].astype('category')
df_carros_string.dtypes

make                  object
fuel-type             object
aspiration            object
num-of-doors           int64
body-style          category
drive-wheels          object
engine-location       object
engine-type           object
num-of-cylinders       int64
fuel-system           object
dtype: object

In [81]:
df_carros_string.head()

          make fuel-type aspiration  ...  engine-type num-of-cylinders fuel-system
0  alfa-romero       gas        std  ...         dohc                4        mpfi
1  alfa-romero       gas        std  ...         dohc                4        mpfi
2  alfa-romero       gas        std  ...         ohcv                6        mpfi
3         audi       gas        std  ...          ohc                4        mpfi
4         audi       gas        std  ...          ohc                5        mpfi

[5 rows x 10 columns]

In [82]:
#Usando label encodes
df_carros_string['body-style-cat'] = df_carros_string['body-style'].cat.codes
df_carros_string.head()

          make fuel-type  ... fuel-system  body-style-cat
0  alfa-romero       gas  ...        mpfi               0
1  alfa-romero       gas  ...        mpfi               0
2  alfa-romero       gas  ...        mpfi               2
3         audi       gas  ...        mpfi               3
4         audi       gas  ...        mpfi               3

[5 rows x 11 columns]

In [84]:
df_carros_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              203 non-null    object
 1   fuel-type         203 non-null    object
 2   aspiration        203 non-null    object
 3   num-of-doors      203 non-null    int64
 4   body-style        203 non-null    category
 5   drive-wheels      203 non-null    object
 6   engine-location   203 non-null    object
 7   engine-type       203 non-null    object
 8   num-of-cylinders  203 non-null    int64
 9   fuel-system       203 non-null    object
 10  body-style-cat    203 non-null    int8
dtypes: category(1), int64(2), int8(1), object(7)
memory usage: 16.5+ KB

In [83]:
df_carros_string['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [88]:
pd.get_dummies(df_carros_string, columns=['drive-wheels']).head()

          make fuel-type  ... drive-wheels_fwd  drive-wheels_rwd
0  alfa-romero       gas  ...                0                 1
1  alfa-romero       gas  ...                0                 1
2  alfa-romero       gas  ...                0                 1
3         audi       gas  ...                1                 0
4         audi       gas  ...                0                 0

[5 rows x 13 columns]